.path-frontpage {
  font-weight: normal !important;

  .main-content {
    background-image: url("images/symbole-agrisud-2.png"), linear-gradient(#eff3f0, white);

    //background-image: url("images/symbole-agrisud-2.png"), linear-gradient(#eff3f0, white);;//linear-gradient(#eff3f0, #fff);;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: inherit;

    #block-messageaccueil {
      width: 66% !important;
      margin: 0 17% 0 !important;
      //padding: 2rem !important;
      margin-bottom: 6rem !important;
      text-align: center;
    }
  }

  #midwidget {
    background-image: url("images/symbole-agrisud-2.png"), url("images/fermier-rescaled.png");
    background-repeat: no-repeat;
    background-position: right, top;
    background-size: inherit;
    margin-top: -8rem;
    padding: 5rem;

    .elpacho {
      position: relative;
      background: #fff;
      padding: 20px 20px;
      margin-bottom: 30px;
      border: 1px solid #eee;
      border-bottom: 4px solid $red-agrisud;
      text-align: center !important;
    }
  }

  //****Start block chiffres
  .region.region-updates-first {
    padding: 0 !important;
  }

  //***** End block chiffres
  h2 {
    font-size: $h2Size-heading !important;
  }

  #updates {
    background-color: #fdfdfd !important;
  }

  #clients #block-views-block-liste-actions-block-1 {
    h3 {
      margin-top: 0 !important;
      a {
        margin: 0 !important;
        font-size: 1.5rem !important;
      }
    }
  }
}

  .path-nos-actualites {
    font-weight: normal !important;

    .region-content {
      background-image: url("images/arriere-plan-page-actualites.jpg");
      //background-image: url("images/actualite-background-90.png");
      background-repeat: no-repeat;
      background-position: top;
      //background-size: cover;
      margin-bottom: 0 !important;
    }

    //.node--type-actualite.node--view-mode-teaser.ds-2col
    @include viewsListds2();
    @include designActualitesFields();
    #date-actu, #type-actu {
      font-weight: bold;
    }
    h2.custom-block-title {
      color: $green-agrisud !important;
      font-weight: bold !important;
      margin-bottom: $grid-gutter !important;
    }

    .features {
      //margin-top: 2*$grid-gutter !important;
      background-image: url("images/symbole-agrisud-300.png") !important;
      background-repeat: no-repeat !important;
      background-position: right !important;
      background-position-y: bottom !important;
      //height: 700px !important;
      background-size: inherit !important;
    }

    #bottom-widget {
      margin-bottom: $grid-gutter !important;
    }

    .region.region-features-second {
      display: flex;
      #block-views-block-evenement-block-2 {
        margin: 0;
        table {
          background-color: white !important;
        }
      }
      #block-views-block-evenement-block-1 {
        margin: 0;
      }
    }
    #clients {
      .block-externe-agir {
        div.col-12:first-of-type {
          padding-left: 0 !important;
        }
        div:last-of-type {
          padding-right: 0 !important;
        }
        display: flex;
        img {
          height: auto;
        }
      }
      h2.title, .content a {
        color: $light-green !important;
      }

      a {
        & {
          background-color: $white;
          padding: $grid-gutter/3;
          text-align: center;
          height: 5rem;
        }
        color: #afca0b;
        display: block !important;
        font-size: 1.3rem !important;
        text-transform: uppercase;
        font-weight: bold;
      }

      figcaption {
        & {
          background-color: $white;
          padding: 0.7rem !important;
          text-align: center;
          //height: 5rem;
        }

        display: block !important;
        font-size: 1rem !important;
        color: $grey-agrisud !important;
      }
    }
  }

.path-liste-actions {
  font-weight: normal !important;

  #block-carte {
    margin-top: 2*$grid-gutter !important;
  }

  #page-title {
    background: none !important;
    height: 0 !important;
  }

  @include viewsListds2();
  @include designActionsFields;
}

#bottom-widget {
  width: 50% !important;
  margin-left: 25%;
  background: none !important;

  //  margin-top: 3rem;
  h2.title, .content * {
    color: $green-agrisud !important;
  }

  /*  h2.custom-block-title {
      font-weight: bold !important;
      margin-bottom: 2rem;
      color: $green-agrisud;
    }*/
  /*p {
    min-width: 20rem;
    background: #fff !important;
    border: 1px solid #eee;
    border-bottom: 4px solid #ff5e14;
    text-align: center !important;
    padding: 2rem;
    a, a.btn {
      font-size: 1.5rem;
      color: $green-agrisud;
      background: none !important;
    }
  }*/
  //block-content.block-content--type-block-bouton.block-content--view-mode-full.ds-1col
  .block-content.block-content--type-block-links.block-content--view-mode-full.ds-1col,
  .block-content.block-content--type-block-bouton.block-content--view-mode-full.ds-1col {
    text-align: center;

    .field--name-body.field a {
      text-align: center;
      color: white !important;
      padding: 2rem 2rem;
      border: 1px solid $light-green !important;
      background-color: $light-green !important;
      font-weight: 400;
      display: block;
      font-size: 1.3rem !important;
      margin: 1rem 1rem;
      // width: 20rem;
      //margin-top: 0 !important;
      /*
            text-align: center;
            color: white;
            padding: 2rem 2rem;
            border: 1px solid #afca0b;
            background-color: #afca0b;
            font-weight: 400;
            margin: 1rem 1rem;*/
    }
  }

  .region-bottom-third {
    .block {
      margin: 0 !important;
    }

    .block-content.block-content--type-block-links.block-content--view-mode-full.ds-1col,
    .block-content.block-content--type-block-bouton.block-content--view-mode-full.ds-1col {
      display: grid;
      margin: auto;
    }
  }

  .region-bottom-second {
    .block {
      margin: 0 !important;
    }

    .block-content.block-content--type-block-links.block-content--view-mode-full.ds-1col,
    .block-content.block-content--type-block-bouton.block-content--view-mode-full.ds-1col {
      display: grid;
      margin: auto;
    }
  }
}

.page-node-type-nous-connaitre {
  font-weight: normal !important;

  .region.region-updates-first {
    padding: 0 !important;
    @include blocksChiffres();
    @include blocksChiffresPageNousConnaitre();
  }

  #block-phrasecharteagrisud {
    margin-bottom: 3rem !important;

    .block-content.block-content--type-block-message {
      width: 70%;
      margin: 0 15% 0;
      text-align: center;
      font-family: "Roboto", Arial, sans-serif !important;
      font-weight: 100 !important;
      font-size: 2rem !important;
      line-height: 1.5 !important;
      margin-top: $grid-gutter !important;
      padding: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.path-liste-actions {
  font-weight: normal !important;

  #liste-actions {
    background-image: url("images/arriere-plan-page-actions.jpg");
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 5em;

    #block-carte {
      background-color: $light-grey !important;
      margin-bottom: 0 !important;
      margin-top: -1rem !important;
      padding-top: 2*$grid-gutter !important;
    }

    /*    .views-element-container {
          padding-top: 5rem;
        }*/
  }

  .node.node--type-action.node--view-mode-teaser.ds-2col.clearfix.container.action-view-page {
    background: $white;
    margin-bottom: 2rem;
    padding: 2rem 1rem 0 1rem;
  }

  #block-views-block-temoignage-block-2 {
    margin-top: $grid-gutter !important;
  }

  /* #block-views-block-temoignage-block-2 {
     margin-top: 0 !important;
     margin-bottom: 0 !important;
     width: 60% !important;
     margin-left: 20% !important;
   }*/
  /*  .custom-title {
      margin-top: 7rem !important;
    }*/
}

.page-node-type-reseaux-et-partenaires {
  font-weight: normal !important;

  .block {
    text-align: justify;
    margin-bottom: 2*$grid-gutter !important;
  }

  header, #block-nospartenaires {
    margin-bottom: $grid-gutter !important;
    text-align: justify !important;
  }
  .custom-title .container {
    padding: 0 !important;
  }
  .block-reseaux-partenaires {
    margin-bottom: 6rem !important;
  }
  #views-bootstrap-liste-reseau-block-1 {
    .views-field-title {
      line-height: 1.3;
    }
  }
}

.path-evenement, .path-temoignages {
  //background-color: blue !important;
  @include viewsListds2();
}
