{{ title_prefix }}
{% if label %}
    <div class="custom-title container mb-5"><h2{{ title_attributes.addClass('font-weight-bold') }}>{{ label }}</h2></div>
{% endif %}
{{ title_suffix }}

<div id="chiffres-container" class="container-fluid">
    <div id="chiffres" class="container-fluid bottom-widget">
        <div class="row text-center">
            <div class="chiffre-item col-sm-4 col-md-2 col-lg-2">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-collaborateurs.png" alt="collab icon"/>
              </div>
              <br>
                <span class="chiffres">207</span>  <br> <span class="chiffres-desc"> Collaborateurs <br> Sud et Nord</span>
            </div>
            <div class="chiffre-item col-sm-4 col-md-2 col-lg-2">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-partenaires.png" alt="patenaire icon"/>
              </div>
              <br>
              <span class="chiffres">66</span> <br> <span class="chiffres-desc">Partenaires operationnels</span>
            </div>
            <div class="chiffre-item col-sm-4 col-md-2 col-lg-2">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-projets-en-cours.png" alt="project icon"/>
              </div>
              <br>
              <span class="chiffres"> 34</span> <br> <span class="chiffres-desc">Projets <br> en cours</span>
            </div>
            <div class="chiffre-item col-sm-4 col-md-2 col-lg-2">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-millions-engages.png" alt="million icon"/>
              </div>
              <br>
              <span class="chiffres"> 3.9 </span><br> <span class="chiffres-desc">Millions d'Euros <br> engagés</span>
            </div>
            <div class="chiffre-item col-sm-4 col-md-2 col-lg-2">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-tpe-familiales.png" alt="familiales icon"/>
              </div>
              <br>
              <span class="chiffres"> 14 435 </span><br> <span class="chiffres-desc">TPE agricoles familliales soutenues</span>
            </div>
        </div>
    </div>
</div>
